body{
  color: lightblue !important ;
  background-color: aliceblue !important; 
}



.todo-item{
  border: 1px solid lightblue;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: royalblue;
  font-weight: bold;
}
.todo-content{
  padding:1em
}
.add-item-row{
  border: 2px;
  border-radius: 15px;
  margin-top:50px !important;
  margin-bottom: 30px;
}
.input-box{

  padding: 10px;
  width:100%;
  border: 2px solid lightblue;
  
}
.input-box:focus{
  outline: none;
}
button{
  background-color: lightblue;
  color: white;
}
.button-add{
  height: 40px;
  width: 100%;
  border: none;
  background-color: lightblue;
  color: white;
}
.button-add:hover{
  background-color: white;
  color: lightblue;
  border: 2px solid lightblue;
}

.button-delete{
  background-color: ivory;
  border: 2px solid lightblue;
  border-radius: 5px;
  color: RoyalBlue;
  margin: 10px;
  font-weight: bold;
}
.button-delete:hover{
  background-color: lightblue;
  color: #ffffff;
}

.item-complete{
  background-color: darkgray;
  color:white;
  font-weight: bold;
}

.login-box{
  border:2px solid lightblue;
  border-radius: 15px;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.login-box label{
  font-weight: 700;
}

.display-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.button-box{
  display:flex;
  justify-content: space-between
}

.button-primary{
  background-color: lightblue;
  color: #ffffff;
  border:none;
}

.red-error {
  color:red
}

.text-black {
  color: black;
}

.todo-container {
  background-color: white; /* 배경색을 흰색으로 설정 (필요에 따라 변경 가능) */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 약간의 그림자 추가 */
}

.todo-container h2 {
  color: #4169E1; /* RoyalBlue */
  font-weight: bold;
  margin-bottom: 5px;
}

.todo-container .todo-item {
  border: 1px solid lightblue; /* RoyalBlue */
  padding: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
}
